body {
  font-family: "Roboto";
  background-color: white;
  color: white;
}
h1 {
  text-align: center;
}
.Date-cont {
  background-color: #73a3f6;
  display: flex;
  width: 490px;
  flex-direction: column;
  padding: 20px;
  margin: 0 auto;
}
.Date-cont > div:first-child {
  display: flex;
  /* text-align: center; */
  font-size: 40px;
  justify-content: space-evenly;
}
.button {
  background-color: #73a3f6;
  border-radius: 6px;
}
.Date-cont > div {
  display: grid;
  grid-template-columns: repeat(7, 70px);
  justify-items: center;
}
.Date-cont > div:nth-child(3) {
  row-gap: 20px;
}
.Date-cont > div:nth-child(3) > div {
  background-color: #73a3f6;
}
.Date-cont > div:nth-child(2) {
  margin-bottom: 20px;
}
.Date-cont > div > div {
  height: 45px;
  width: 45px;
  text-align: center;
  font-size: 40px;
}
.Date-cont > div > div.active {
  background-color: white;
  color: red;
}
.Date-cont > div:nth-child(3) > div.d0 {
  grid-column: 1;
}
.Date-cont > div:nth-child(3) > div.d1 {
  grid-column: 2;
}
.Date-cont > div:nth-child(3) > div.d2 {
  grid-column: 3;
}
.Date-cont > div:nth-child(3) > div.d3 {
  grid-column: 4;
}
.Date-cont > div:nth-child(3) > div.d4 {
  grid-column: 5;
}
.Date-cont > div:nth-child(3) > div.d5 {
  grid-column: 6;
}
.Date-cont > div:nth-child(3) > div.d6 {
  grid-column: 7;
}
